<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588850587483-69ujdbpothhspu2ecoe6lj02blt3584l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588850587483-69ujdbpothhspu2ecoe6lj02blt3584l</string>
	<key>API_KEY</key>
	<string>AIzaSyDmM_wWlBUvJUDnoatvNb5F3NIylPRWAUk</string>
	<key>GCM_SENDER_ID</key>
	<string>588850587483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Gurk91.Fibonia</string>
	<key>PROJECT_ID</key>
	<string>fibonia-83e34</string>
	<key>STORAGE_BUCKET</key>
	<string>fibonia-83e34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588850587483:ios:f43fac09386e58347a1c7e</string>
	<key>DATABASE_URL</key>
	<string>https://fibonia-83e34.firebaseio.com</string>
</dict>
</plist>