<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449342241630-08rdmftnn4d2jf9le84r5b6ba48j2gj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449342241630-08rdmftnn4d2jf9le84r5b6ba48j2gj6</string>
	<key>API_KEY</key>
	<string>AIzaSyCffTrdqMK23ZNSKglosN9h22yMGK8SyBY</string>
	<key>GCM_SENDER_ID</key>
	<string>449342241630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Gurk91.Fibonia</string>
	<key>PROJECT_ID</key>
	<string>fibonia-f7733</string>
	<key>STORAGE_BUCKET</key>
	<string>fibonia-f7733.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449342241630:ios:2e0ba68c9b07388b48adcf</string>
	<key>DATABASE_URL</key>
	<string>https://fibonia-f7733.firebaseio.com</string>
</dict>
</plist>